.cardOne, .cardTwo{
  background-repeat: no-repeat;
  background-position: center;
  width: 28.5rem;
  height: 15.6rem;
  background-size: cover;
}
.cardOne{
  background-image: url("../../../images/bg-card-front.png");
}
.cardTwo{
  background-image: url("../../../images/bg-card-back.png");
}